body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(0, 19, 49);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    padding: 5px;
}

.mygit:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 19, 49);
    border: 1px solid #000000;
    transition: 0.5s;
}

li {
    list-style-type: none;
}

main {
    width: 100%;
    text-align: center;
    color: white;
}

main p:hover {
    color: #dd6700;
    transition-duration: 1s;
}

main h2 {
    font-family: sans-serif;
    color: #49c34f;
    margin: 0px;
    font-size: 3vw;
}

main h3 {
    font-size: 2vw;
}

#projet h2 {
    margin-top: 1.5vw;
}

#projet h3 {
    margin-top: 5vw;
}

#projet img {
    width: 15%;
    max-width: 55vw;
}

#projet p {
    margin: 0;
    font-size: 1.3vw;
}